@model Web.Models.BindingModels.TweetBindingModel
@{
    ViewBag.Title = "Compose new tweet";
}
<h2>Compose new Tweet</h2>

@Html.EditorForModel()

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
} 