body {
    padding-top: 50px;
    padding-bottom: 20px;
}
html > /**/ body .home-wrapper {
    margin: auto;
    width: 50%;
}
html > /**/ body .tweet-wrapper {
    border: 1px solid #ABD0BC;
    border-radius: 0;
    padding: 1rem;
    margin: 0.2rem;
}
html > /**/ body .icon-retweet {
    width: 2rem;
    height: 1rem;
}

html > /**/ body .icon-favourite {
    width: 1.5rem;
    height: 1.5rem;
}

html > /**/ body .icon-more {
    width: 2rem;
    height: 2rem;
}

html > /**/ body .tweet-info {
    display: inline-block;
    margin-left: 8%;
}

html > /**/ body .head-profile {
    height: 20%;
    margin: 1rem;    
}

html > /**/ body .user-info {
    width: 76.08%;
    float: right;
    margin-top: 17rem;    
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
