
@using Twitter.Data.Models;
@model IQueryable<Web.Models.ViewModels.NotificationViewModel>

@{
    ViewBag.Title = "Notifications";
}

<h2>Notifications</h2>
<div class="media" style="padding-bottom: 8% !important">
    @Html.DisplayForModel()
</div>